:root{
    --darkpurple: rgb(36, 37, 52);
    --lightblue: #abcbe3;
    --lightyellow: #f8ffe8;
}

header{
    color: var(--darkpurple);
}

#navbarText{
    color: var(--darkpurple);
}

.card{
    background-color: var(--lightblue); 
    padding: 4% 4% 1%;
    margin: 2%;
    border-radius: 9px;
    border: solid;
    border-color: var(--darkpurple);
}

.cardheader{
    text-align:center;
    background-color: var(--darkpurple);
    color: var(--lightyellow);
    border-radius: 9px;
    padding: 1%;
}

.card:hover {
    border-color: var(--lightyellow);
    /* box-shadow: 10px 10px 10px var(--darkpurple); */
}

.postdate{
    text-align:center;
}

.postimage{
    border-radius: 9px;
    
}