:root{
    --darkpurple: rgb(36, 37, 52);
    --lightblue: #abcbe3;
    --lightyellow: #f8ffe8;
}



header{
    color: var(--darkpurple);
    font-family: 'Montserrat:wght@0,600', sans-serif;
}

nav{
    background-color: #abcbe3;
    padding:2%;
}

#navbarText{
    color: var(--darkpurple);
    font-family: 'Montserrat:wght@0,600', sans-serif;
}

.card{
    background-color: var(--lightblue); 
    padding: 1% 4% 1%;
    margin: 2%;
}

.cardheader{
    text-align:center;
    padding: 1%;
}

/* .card:hover {
    border-color: var(--lightyellow);
    box-shadow: 10px 10px 10px var(--darkpurple);
} */


.posttitle, .postdate{
    text-align:center;
    font-family: 'Montserrat:wght@0,600', sans-serif;

}


.postimage{
    border-radius: 9px;

}

.blogtext{
    font-family: 'Montserrat:wght@0,600', sans-serif;

}


